<component name="libraryTable">
  <library name="spring-aop-3.2.1.RELEASE">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-14/filestore/org.springframework/spring-aop/3.2.1.RELEASE/jar/38e6fd56d0b2b47fedb29fad6deb779ebe583023/spring-aop-3.2.1.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-14/filestore/org.springframework/spring-aop/3.2.1.RELEASE/source/9c6a485d71421f1bf73c6e478932f26c5a9d82f2/spring-aop-3.2.1.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>