<component name="libraryTable">
  <library name="spring-expression-3.2.1.RELEASE">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-14/filestore/org.springframework/spring-expression/3.2.1.RELEASE/jar/ad094bbe9e4d9b48be3604e3590a9277b2e0dba1/spring-expression-3.2.1.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-14/filestore/org.springframework/spring-expression/3.2.1.RELEASE/source/83ebafcfaa0b1fa23e7bf9bc8458d6b7de8b0de/spring-expression-3.2.1.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>