<component name="libraryTable">
  <library name="spring-context-3.2.1.RELEASE">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-14/filestore/org.springframework/spring-context/3.2.1.RELEASE/jar/f3979526bc76f92a92cfa7444bf2575cc7b95c8f/spring-context-3.2.1.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-14/filestore/org.springframework/spring-context/3.2.1.RELEASE/source/2e797917e494f2e0949603784f742f1488c3e712/spring-context-3.2.1.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>