<component name="libraryTable">
  <library name="spring-beans-3.2.1.RELEASE">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-14/filestore/org.springframework/spring-beans/3.2.1.RELEASE/jar/ae8b65a7dbd0e74044c903f5b7078a09b1671266/spring-beans-3.2.1.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-14/filestore/org.springframework/spring-beans/3.2.1.RELEASE/source/f85a706a90a058f7b8515e9701fddb36e277753d/spring-beans-3.2.1.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>